@tailwind base;
@tailwind components;
@tailwind utilities;


/* //////////////////////////  THEMES */

:root {
  --ifm-color-primary: #006BF0;
  --ifm-color-primary-dark: #0063C6;
  --ifm-color-primary-darker: #0059B2;
    --ifm-color-primary-darkest: #004796;
  --ifm-color-primary-light: #0079E9;
  --ifm-color-primary-lighter: #0081F2;
  --ifm-color-primary-lightest: #008DF8;
  --ifm-color-regular: #0E1218;
  --ifm-code-font-size: 14px;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: "Space Grotesk";
  --ifm-font-family-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --ifm-heading-font-family: var(--ifm-font-family-system);
  --ifm-background-color: #FAFBFC;
  --ifm-background-secondary: #F9FAFA;
  --ifm-custom-shadow-color: #888A90FF;
  --ifm-custom-border-color: #E6E8EECC;
  --ifm-custom-card-background: #E6E8EECC;
  --ifm-custom-card-background-active: #E6E8EE;
  --ifm-font-color-muted: #70747399;
  --ifm-custom-code-background: #E6E8EE99;
  --ifm-admonition-background-info: rgba(0, 73, 166, 0.5);
  --ifm-admonition-background-warn: rgba(144, 104, 0, 0.5);
  --ifm-admonition-background-danger: rgba(169, 3, 13, 0.5);
  --doc-sidebar-width: 450px !important;
  --ifm-spacing-horizontal: 10px;
  --ifm-navbar-height: 5.4rem;
}

[data-theme='dark'] {
  --ifm-color-primary: #2B89FF;
  --ifm-color-primary-dark: #2D76D1;
  --ifm-color-primary-darker: #296AC2;
  --ifm-color-primary-darkest: #0542E029;
  --ifm-color-primary-light: #3790EF;
  --ifm-color-primary-lighter: #3B9AF2;
  --ifm-color-primary-lightest: #47A7F8;
  --ifm-color-regular: #FAFBFC;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-font-family-base: "Space Grotesk";
  --ifm-font-family-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --ifm-heading-font-family: var(--ifm-font-family-system);
  --ifm-background-color: #0E1218;
  --ifm-background-secondary: #111318;
  --ifm-custom-shadow-color: #2C2F36FF;
  --ifm-custom-border-color: #202431FF;
  --ifm-custom-card-background: #22252CCC;
  --ifm-custom-card-background-active: #22252C;
  --ifm-font-color-muted: #9EA3A299;
  --ifm-custom-code-background: #23262B;
  --ifm-admonition-background-info: rgba(0, 73, 166, 0.5);
  --ifm-admonition-background-warn: rgba(144, 104, 0, 0.5);
  --ifm-admonition-background-danger: rgba(169, 3, 13, 0.5);
  --doc-sidebar-width: 450px !important;
  --ifm-spacing-horizontal: 10px;
  --ifm-navbar-height: 5.4rem;
  --docsearch-key-gradient: linear-gradient(-26.5deg,#0542E029,#424753) !important;
}


/* //////////////////////////  ROOT */

:root {
  font-family: var(--ifm-font-family-base);
  background-color: var(--ifm-background-color);
}

p {
  font-size: 16px !important;
  margin-bottom: 6px !important;
  margin-top: 0 !important;
}


/* //////////////////////////  CONTAINER STYLING */

.__mec-container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .__mec-container {
    max-width: 640px;
  }
  .DocSearch-Button {
    border: none !important;
  }

}

@media (min-width: 768px) {
  .__mec-container {
    max-width: 768px;
  }
  .DocSearch-Button {
    width: 300px;
    border-radius: 8px !important; 
    border: 2px solid var(--ifm-custom-card-background-active) !important;
    padding: 12px !important;
    font-family: var(--ifm-font-family-base) !important;
    background-color: transparent !important;
  }
}

@media (min-width: 1024px) {
  .__mec-container {
    max-width: 1024px;
  }
  .navbar__inner a[href="/docs/hardware/get-started"] {
    display: flex;
    align-items: center;
    padding-left: 40px;
    position: relative;
  }
  
  .navbar__inner a[href="/docs/hardware/get-started"]:hover {
    color: var(--ifm-color-primary);
  }
  
  .navbar__inner a[href="/docs/hardware/get-started"]::before {
    content: "";
    display: inline-block;
    background-image: url('/img/outlined-machine.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-left: 10px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .navbar__logo {
    height: 3rem;
  }
}

@media (min-width: 1280px) {
  .__mec-container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .__mec-container {
    max-width: 1536px;
  }
}

#__docusaurus_skipToContent_fallback,
.navbar,
.__mec-footer {
  /* @apply __mec-container; // UNCOMMENT TO INTEGRATE CONTAINER */
}

.navbar,
.__mec-footer {
  padding-left: 50px;
  padding-right: 50px;
}


/* //////////////////////////  SIDEBAR ITEMS */

.menu__link {
  padding: 8px;
  font-size: 16px;
  border-radius: 0.5rem;
  font-weight: 400;
  font-family: var(--ifm-font-family-system);
}

.menu {
  border-right: 1px solid var(--ifm-toc-border-color);
}

.menu__list {
  padding: 0 !important;
}

.menu__link--active {
  font-weight: 500;
}

.theme-doc-sidebar-container {
  box-shadow: 0px 0px 4px -5px var(--ifm-custom-shadow-color) !important;
  background-color: var(--ifm-background-secondary);
  font-family: var(--ifm-font-family-base) !important;
  border: none !important;
  padding-top: 0;
}

.menu__list-item-collapsible:hover {
  background: transparent;
}

.menu__list-item-collapsible .menu__link {
  font-weight: 800 !important;
  color: var(--ifm-menu-color) !important;
  font-size: 18px;
  font-family: var(--ifm-font-family-base);
}

.menu__list-item .menu__link {
  font-style: var(--ifm-font-family-system) !important;
}

.theme-doc-sidebar-menu {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-left: 50px !important;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* //////////////////////////  NAVBAR */

.navbar {
  background-color: var(--ifm-background-secondary);
  border-bottom: 1px solid var(--ifm-toc-border-color);
  box-shadow: 0px 4px 4px -5px var(--ifm-custom-shadow-color) !important;
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
}

.navbar__item {
  margin-inline: 10px;
}

.navbar__link--active {
  background-color: var(--ifm-custom-card-background);
  color: var(--ifm-menu-color) !important;
  border-radius: 1rem;
}

.DocSearch-Button {
  background-color: transparent !important;
}

.DocSearch-Search-Icon {
  width: 15px;
}

.__github-link-navbar {
  display: flex;
  align-items: center;
  font-weight: 500;
  
  margin: 0;
  column-gap: 0.5rem;
  color: var(--ifm-color-regular);
  text-decoration: none;
}

.__github-link-navbar p{
  font-size: 18px !important;
  margin-bottom: 0 !important;
}

.__github-link-navbar:hover {
  color: var(--ifm-color-primary);
  text-decoration: none;
}


/* //////////////////////////  BREADCRUMB */

.breadcrumbs__item:first-child .breadcrumbs__link::before {
  content: "Home";
  display: inline-block;
}

.breadcrumbs__item:first-child .breadcrumbs__link svg {
  display: none;
}

.breadcrumbs__link {
  font-size: 14px;
  background: transparent !important;
}


.breadcrumbs__item--active .breadcrumbs__link {
  color: var(--ifm-font-color-muted) !important;
}

/* //////////////////////////  MD | MDX PAGES */

.col.docItemCol_node_modules-docusaurus-theme-openapi-docs-lib-theme-ApiItem-Layout-styles-module {
  max-width: 789px !important
}

.__docs-header {
  border-bottom: 1px solid var(--ifm-custom-border-color);
}

#__docusaurus {
  font-size: 18px
}

#__docusaurus_skipToContent_fallback {
  border-bottom: 1px solid var(--ifm-custom-border-color);
}

main {
  font-family: var(--ifm-font-family-system) !important;
}

p code {
  padding: 4px 10px !important;
}

code {
  background: var(--ifm-custom-code-background) !important;
}

li {
  font-size: 16px !important;
}

ul {
  margin-top: 2px;
}

.custom-card {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  align-items: start;
  justify-content: center;
  padding: 20px;
  background-color: var(--ifm-custom-card-background);
  border-radius: 8px;
  border: 1px solid var(--ifm-custom-shadow-color);
  color: var(--ifm-menu-color) !important;
  text-decoration: none;
  font-size: 16px;
  line-height: 20.8px;
}

.custom-card-icon {
  color: var(--ifm-color-primary);
}

.custom-card:hover {
  border: 1px solid var(--ifm-custom-card-background-active);
  background-color: var(--ifm-custom-card-background-active);
  box-shadow: 3px 4px 3px 0px var(--ifm-color-primary-darkest);
  text-decoration: none;
}

.custom-card-title {
  font-weight: 500;
}


/* CUSTOM ADMONITIONS. */
.mec-admonition {
  border-radius: 8px;
  padding: 16px;
  font-size: 16px;
  line-height: 20.8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mec-admonition-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}

.mec-admonition-title{
  font-weight: 600;
}

.mec-admonition-description{
  font-weight: 400;
}

.mec-admonition-info {
  background-color: var(--ifm-admonition-background-info);
}

.mec-admonition-warn {
  background-color: var(--ifm-admonition-background-warn);
}

.mec-admonition-danger {
  background-color: var(--ifm-admonition-background-danger);
}




/* TABLE OF CONTENT */

.table-of-contents {
  color: var(--ifm-font-color-muted);
}

.table-of-contents:hover {
  color: var(--ifm-color-regular) I !important;

}

.theme-doc-toc-desktop {
  padding-left: 50px;
}

.table-of-contents__link {
  color: inherit;
}
.table-of-contents__link--active {
  color: var(--ifm-color-primary);
}

.theme-code-block {
  margin-top: 15px;
  margin-bottom: 15px;
}


/* API DOCS */

.DocSearch-Button-Key {
  margin: 0 !important;
}

.DocSearch-Button-Keys {
  column-gap: 3px !important;
  min-width: auto !important;
}

.prism-code {
  padding: 0 !important;
}

.openapi-explorer__code-block-code-line-number {
  display: none !important;
}

.openapi-explorer__code-block-code-line-number::before {
  display: none !important;
}

.openapi-explorer__code-block-code-line {
  line-height: 22.04px;
  padding: 10px !important;
}

.openapi-explorer__code-block-code-line-content {
  padding: 10px !important;
 font-size: 14px;
}

.openapi-explorer__code-block-container {
  margin: 0 !important;
}

.openapi-explorer__code-block {
  background: var(--ifm-custom-code-background) !important;
}

.openapi-explorer__expand-modal-content {
  height: auto !important;
}

.openapi-tabs__mime li{
  font-size: 14px !important;
  font-weight: 400 !important;
  padding: 5px 10px;
}

.openapi-tabs__schema-label {
  font-size: 14px !important;
  column-gap: 15px;
}


.openapi-markdown__details-summary-mime {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 auto !important;
}

.openapi-markdown__details-summary-mime::before {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prism-code .language-json {
  background: var(--ifm-custom-code-background) !important;
}

.openapi-markdown__details-summary-mime .openapi-schema__required{
  position: relative;
}

.openapi-markdown__details-summary-mime .openapi-schema__required::before{
  content: "*";
  font-size: 16px;
  margin-top: -6px;
  font-weight: bold;
  color: inherit;
}

.openapi-markdown__details-summary-mime .openapi-schema__required p {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}


.theme-doc-markdown h1{
  font-size: 48px;
}

.theme-doc-markdown h2{
  font-size: 36px;
}

.theme-doc-markdown h3{
  font-size: 24px;
}

.theme-doc-markdown h4{
  font-size: 16px;
}

.theme-doc-markdown h5{
  font-size: 12px;
}

.theme-doc-markdown h6{
  font-size: 8px;
}

.openapi-explorer__request-btn {
  font-family: var(--ifm-font-family-system) !important;
}

.openapi-explorer__form-item-input {
  font-family: var(--ifm-font-family-system) !important;
}


.openapi__method-endpoint {
  @apply thin-scrollbar !important;
}

.openapi__heading {
  font-size: 18px !important;
}
.openapi__method-endpoint-path {
  font-size: 16px !important;
}

.openapi-tabs__heading {
  margin-top: 30px;
  margin-bottom: 30px !important;
}

.openapi-tabs__response-header-section {
  padding-top: 0 !important;
}

.prism-code code {
  font-size: 14px !important;
  background: var(--ifm-custom-code-background) !important;
}

.openapi-explorer__code-block {
  background: var(--ifm-custom-code-background) !important;

}

.tabs__item {
  border: none !important;
  border-bottom: 1px solid var(--ifm-font-color-muted) !important;
  border-radius: 0;
  margin-right: 0 !important;
  font-weight: 300 !important;
}

.tabs__item:hover {
  border: none !important; 
  border-bottom: 1px solid var(--ifm-font-color-muted) !important;
  font-weight: 800 !important;
}

.tabs__item.active{
  font-weight: 700 !important;
  border: none !important;
  border-bottom: 1px solid var(--ifm-color-primary) !important;
}

.openapi-explorer__playground-editor {
  background: var(--ifm-custom-code-background) !important;
  padding: 10px;
}

.prism-code {
  background: var(--ifm-custom-code-background) !important;
}


/* //////////////////////////  API SIDEBAR */

/* Sidebar customization  ::: ref:  https://docusaurus-openapi.tryingpan.dev/customization/styling#alternative-styling  */

.menu.thin-scrollbar {
  /* Override the properties applied by 'thin-scrollbar' */
  scrollbar-width: none;
  padding-right: 10px;
  /* scrollbar-color: auto !important; */
}

.api-method>.menu__link {
  align-items: start;
  justify-content: start;
}

.api-method>.menu__link::before {
  width: 40px;
  height: 18px;
  font-size: 10px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.25rem;
  border: 1px solid;
  border-inline-start-width: 1px;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
}

.get>.menu__link::before {
  content: "get";
  background-color: var(--ifm-color-info-contrast-background);
  color: var(--ifm-color-info-contrast-foreground);
  border-color: var(--ifm-color-info-dark);
}

.post>.menu__link::before {
  content: "post";
  background-color: var(--ifm-color-success-contrast-background);
  color: var(--ifm-color-success-contrast-foreground);
  border-color: var(--ifm-color-success-dark);
}

.delete>.menu__link::before {
  content: "del";
  background-color: var(--ifm-color-danger-contrast-background);
  color: var(--ifm-color-danger-contrast-foreground);
  border-color: var(--ifm-color-danger-dark);
}

.put>.menu__link::before {
  content: "put";
  background-color: var(--ifm-color-warning-contrast-background);
  color: var(--ifm-color-warning-contrast-foreground);
  border-color: var(--ifm-color-warning-dark);
}

.patch>.menu__link::before {
  content: "patch";
  background-color: var(--ifm-color-success-contrast-background);
  color: var(--ifm-color-success-contrast-foreground);
  border-color: var(--ifm-color-success-dark);
}

.head>.menu__link::before {
  content: "head";
  background-color: var(--ifm-color-secondary-contrast-background);
  color: var(--ifm-color-secondary-contrast-foreground);
  border-color: var(--ifm-color-secondary-dark);
}




/* API DOCS SCROLLBAR */
.openapi__method-endpoint,
.openapi-tabs__code-list-container {
  overflow-y: auto;
  scrollbar-width: thin;
}

.openapi__method-endpoint::-webkit-scrollbar,
.openapi-tabs__code-list-container::-webkit-scrollbar {
  width: 6px;
}

.openapi__method-endpoint::-webkit-scrollbar-track,
.openapi-tabs__code-list-container::-webkit-scrollbar-track {
  background: transparent;
}

.openapi__method-endpoint::-webkit-scrollbar-thumb,
.openapi-tabs__code-list-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.openapi-tabs__code-item {
  border: none !important;
}
.openapi-tabs__code-item.active {
  border: none !important;
}

/* //////////////////////////  CUSTOM TABLE COMPONENT */

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.custom-table th {
  text-align: left;
}
